@mixin blackInput() {
  background-color: $black-color;
  color: $white-color;
  text-transform: uppercase;
  border: 0;
  padding: .625rem 1.25rem;
  outline: 0;
  cursor: pointer;
}

@mixin whiteInput() {
  background: transparent;
  box-sizing: border-box;
  border: 0;
  border-bottom: 2px solid #e6e6e6;
  outline: 0;
  font-family: 'Muli', sans-serif;
  padding: 0 0 .625rem .625rem;
}
