@import "assets/mixins.scss";
@import "assets/colors.scss";
@import "assets/fonts.scss";
@import "assets/general.scss";

@import "chatParts/join.scss";
@import "chatParts/guests.scss";
@import "chatParts/messages.scss";
@import "chatParts/main.scss";

html {
  height: 100%;
}

body {
  background-color: $background-color;
  font-family: $font-family-muli;
  height: 100%;
  margin: 0;
}

@include chatMain;
@include chatMessages;
@include chatGuests;
@include chatJoin;
@include chatMain;
