@mixin chatGuests($class-name: 'chat') {
  .#{$class-name}__guests {
    width: 15%;
  }

  .#{$class-name}__guestList {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .#{$class-name}__guestListMember {
    background-color: $gray-color;
    margin-bottom: 0.625rem;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
