@mixin chatJoin($class-name: 'chat') {
  .#{$class-name}__joinChat {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $chat-join-area-height;
    padding: 0 1.25rem;
  }

  .#{$class-name}__joinChatFormField {
    display: flex;
    align-items: flex-end;
  }

  .#{$class-name}__joinChatInput {
    @include whiteInput();
    margin-right: 1.25rem;
  }

  .#{$class-name}__joinChatSubmit {
    @include blackInput();
  }

  .#{$class-name}__joinError {
    margin: 0;
  }
}
