@mixin chatMain($class-name: 'chat') {
  .#{$class-name} {
    height: 100%;
  }

  .#{$class-name} {
    height: calc(100% - #{$chat-join-area-height});
  }

  .#{$class-name}__logoutButton {
    @include blackInput();
  }
}
