@mixin chatMessages($class-name: 'chat') {
  .#{$class-name}__messages {
    width: 85%;
    padding: 0 1.25rem;
    width: 600px;
    margin: 0 auto;

  }
  .#{$class-name}__messagesForm {
    border: 0;
    display: flex;
    justify-content: space-between;
  }

  .#{$class-name}__messageInput {
    @include whiteInput();
    padding-left: .5rem;
    width: 70%;
  }

  .#{$class-name}__messagesList {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .#{$class-name}__messagesItem {
    margin: 2rem 0;
  }

  .#{$class-name}__messageButton {
    @include blackInput();
  }
}
